<section class="container mx-auto p-10 md:py-20 px-5 md:p-10">
  <section
    class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4 gap-10"
  >
    <article
      class="mx-auto group w-full shadow-2xl max-w-md pb-8 rounded-b-2xl transform duration-500 hover:-translate-y-2 cursor-pointer"
    >
      <section
        class="content bg-cover bg-center h-64 rounded-2xl"
        style="
          background-image: url(https://images.unsplash.com/photo-1476610182048-b716b8518aae?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MzN8fGxhbmRzY2FwZXxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=900&q=100);
        "
      >
      </section>

      <div class="my-5 p-4 flex">
        <img
          class="w-10 h-10 rounded-full"
          src="https://images.generated.photos/6iXTm1iVJzoRHx2m_uKRp222qguutiVLOUVlTe_l3iA/rs:fit:256:256/Z3M6Ly9nZW5lcmF0/ZWQtcGhvdG9zL3Yz/XzAwMjMwNDYuanBn.jpg"
          alt=""
        />
        <div class="w-full flex justify-end space-x-1">
          <img
            class="w-10 h-10 rounded-md"
            src="https://images.unsplash.com/photo-1604537466573-5e94508fd243?ixid=MXwxMjA3fDF8MHxzZWFyY2h8MXx8bGFuZHNjYXBlfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=200&h=200&q=100"
            alt=""
          />
          <img
            class="w-10 h-10 rounded-md"
            src="https://images.unsplash.com/photo-1472214103451-9374bd1c798e?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTZ8fGxhbmRzY2FwZXxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=200&h=200&q=100"
            alt=""
          />
          <img
            class="w-10 h-10 rounded-md"
            src="https://images.unsplash.com/photo-1433838552652-f9a46b332c40?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTJ8fGxhbmRzY2FwZXxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=200&h=200&q=100"
            alt=""
          />
        </div>
      </div>

      <div class="mt-14 px-4">
        <h2 class="mt-4 text-base font-medium text-gray-400">
          <!-- LIVE/COMPLETD -->
        </h2>
        <p class="mt-2 text-2xl text-gray-700">
            <!-- course heading -->
        </p>
      </div>
    </article>

    <article
      class="mx-auto group w-full shadow-2xl max-w-md pb-8 rounded-b-2xl transform duration-500 hover:-translate-y-2 cursor-pointer group"
    >
      <section
        class="content bg-cover bg-center h-64 rounded-2xl"
        style="
          background-image: url(https://images.unsplash.com/photo-1433838552652-f9a46b332c40?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTJ8fGxhbmRzY2FwZXxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=900&q=100);
        "
      >
        <div
          class="flex items-end w-full h-full bg-black bg-opacity-20 text-white text-sm font-bold p-4 rounded-2xl"
        >
          <div class="w-1/2 flex items-center">
            <svg
              class="w-6 h-6 mr-2"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
              />
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"
              />
            </svg>
            <span>11219</span>
          </div>
          <div class="w-1/2 flex items-center flex-row-reverse">
            <svg
              class="w-6 h-6 ml-2 place-items-end group-hover:animate-ping absolute"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"
              />
            </svg>
            <svg
              class="w-6 h-6 ml-2 place-items-end relative"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"
              />
            </svg>
            <span class="place-items-end">98</span>
          </div>
        </div>
      </section>
      <div class="my-5 p-4 flex">
        <img
          class="w-10 h-10 rounded-full"
          src="https://images.generated.photos/YBzd3k0_Ry-XxOVS_wa0Wkxp4Mpk2w1hhRPllYA58yQ/rs:fit:256:256/Z3M6Ly9nZW5lcmF0/ZWQtcGhvdG9zL3Yz/XzAzNDY2MjcuanBn.jpg"
          alt=""
        />
        <div class="w-full flex justify-end space-x-1">
          <img
            class="w-10 h-10 rounded-md"
            src="https://images.unsplash.com/photo-1604537466573-5e94508fd243?ixid=MXwxMjA3fDF8MHxzZWFyY2h8MXx8bGFuZHNjYXBlfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=200&h=200&q=100"
            alt=""
          />
          <img
            class="w-10 h-10 rounded-md"
            src="https://images.unsplash.com/photo-1472214103451-9374bd1c798e?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTZ8fGxhbmRzY2FwZXxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=200&h=200&q=100"
            alt=""
          />
          <img
            class="w-10 h-10 rounded-md"
            src="https://images.unsplash.com/photo-1433838552652-f9a46b332c40?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTJ8fGxhbmRzY2FwZXxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=200&h=200&q=100"
            alt=""
          />
        </div>
      </div>
      <div class="mt-14 px-4">
        <svg
          class="w-5 h-5"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="rgba(0,0,0,0.6)"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M5 5a2 2 0 012-2h10a2 2 0 012 2v16l-7-3.5L5 21V5z"
          />
        </svg>
        <h2 class="mt-4 text-base font-medium text-gray-400">
          Cappadocia, Turkey
        </h2>
        <p class="mt-2 text-2xl text-gray-700">
          This photo was taken by
          <a
            class="cursor-pointer hover:underline"
            target="_blank"
            href="https://unsplash.com/photos/t7YycgAoVSw"
            >Daniela Cuevas</a
          >
        </p>
      </div>
    </article>

    <article
      class="mx-auto group w-full shadow-2xl max-w-md pb-8 rounded-b-2xl transform duration-500 hover:-translate-y-2 cursor-pointer"
    >
      <section
        class="content bg-cover bg-center h-64 rounded-2xl"
        style="
          background-image: url(https://images.unsplash.com/photo-1472214103451-9374bd1c798e?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTZ8fGxhbmRzY2FwZXxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=900&q=100);
        "
      >
        <div
          class="flex items-end w-full h-full bg-black bg-opacity-20 text-white text-sm font-bold p-4 rounded-2xl"
        >
          <div class="w-1/2 flex items-center">
            <svg
              class="w-6 h-6 mr-2"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
              />
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"
              />
            </svg>
            <span>27615</span>
          </div>
          <div class="w-1/2 flex items-center flex-row-reverse">
            <svg
              class="w-6 h-6 ml-2 place-items-end group-hover:animate-ping absolute"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"
              />
            </svg>
            <svg
              class="w-6 h-6 ml-2 place-items-end relative"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"
              />
            </svg>
            <span class="place-items-end">217</span>
          </div>
        </div>
      </section>
      <div class="my-5 p-4 flex">
        <img
          class="w-10 h-10 rounded-full"
          src="https://images.generated.photos/y99vaViCjDei2ojQZEUIZkbp2d7FiR_n8alwPHMPSMA/rs:fit:256:256/Z3M6Ly9nZW5lcmF0/ZWQtcGhvdG9zL3Yz/XzAyNDI0MzcuanBn.jpg"
          alt=""
        />
        <div class="w-full flex justify-end space-x-1">
          <img
            class="w-10 h-10 rounded-md"
            src="https://images.unsplash.com/photo-1604537466573-5e94508fd243?ixid=MXwxMjA3fDF8MHxzZWFyY2h8MXx8bGFuZHNjYXBlfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=200&h=200&q=100"
            alt=""
          />
          <img
            class="w-10 h-10 rounded-md"
            src="https://images.unsplash.com/photo-1472214103451-9374bd1c798e?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTZ8fGxhbmRzY2FwZXxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=200&h=200&q=100"
            alt=""
          />
          <img
            class="w-10 h-10 rounded-md"
            src="https://images.unsplash.com/photo-1433838552652-f9a46b332c40?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTJ8fGxhbmRzY2FwZXxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=200&h=200&q=100"
            alt=""
          />
        </div>
      </div>
      <div class="mt-14 px-4">
        <svg
          class="w-5 h-5"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="rgba(0,0,0,0.6)"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M5 5a2 2 0 012-2h10a2 2 0 012 2v16l-7-3.5L5 21V5z"
          />
        </svg>
        <h2 class="mt-4 text-base font-medium text-gray-400">
          Skye, United Kingdom
        </h2>
        <p class="mt-2 text-2xl text-gray-700">
          This photo was taken by
          <a
            class="cursor-pointer hover:underline"
            target="_blank"
            href="https://unsplash.com/photos/_RBcxo9AU-U"
            >Robert Lukeman</a
          >
        </p>
      </div>
    </article>

    <article
      class="mx-auto group w-full shadow-2xl max-w-md pb-8 rounded-b-2xl transform duration-500 hover:-translate-y-2 cursor-pointer"
    >
      <section
        class="content bg-cover bg-center h-64 rounded-2xl"
        style="
          background-image: url(https://images.unsplash.com/photo-1532274402911-5a369e4c4bb5?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTh8fGxhbmRzY2FwZXxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=900&q=100);
        "
      >
        <div
          class="flex items-end w-full h-full bg-black bg-opacity-20 text-white text-sm font-bold p-4 rounded-2xl"
        >
          <div class="w-1/2 flex items-center">
            <svg
              class="w-6 h-6 mr-2"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
              />
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"
              />
            </svg>
            <span>15982</span>
          </div>
          <div class="w-1/2 flex items-center flex-row-reverse">
            <svg
              class="w-6 h-6 ml-2 place-items-end group-hover:animate-ping absolute"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"
              />
            </svg>
            <svg
              class="w-6 h-6 ml-2 place-items-end relative"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"
              />
            </svg>
            <span class="place-items-end">106</span>
          </div>
        </div>
      </section>
      <div class="my-5 p-4 flex">
        <img
          class="w-10 h-10 rounded-full"
          src="https://images.generated.photos/dR0k2Wztn0AVEncDXA1tnOmTVMR9-QM7yTWbKSM67KU/rs:fit:256:256/Z3M6Ly9nZW5lcmF0/ZWQtcGhvdG9zL3Yz/XzA5MDc2NDYuanBn.jpg"
          alt=""
        />
        <div class="w-full flex justify-end space-x-1">
          <img
            class="w-10 h-10 rounded-md"
            src="https://images.unsplash.com/photo-1604537466573-5e94508fd243?ixid=MXwxMjA3fDF8MHxzZWFyY2h8MXx8bGFuZHNjYXBlfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=200&h=200&q=100"
            alt=""
          />
          <img
            class="w-10 h-10 rounded-md"
            src="https://images.unsplash.com/photo-1472214103451-9374bd1c798e?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTZ8fGxhbmRzY2FwZXxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=200&h=200&q=100"
            alt=""
          />
          <img
            class="w-10 h-10 rounded-md"
            src="https://images.unsplash.com/photo-1433838552652-f9a46b332c40?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTJ8fGxhbmRzY2FwZXxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=200&h=200&q=100"
            alt=""
          />
        </div>
      </div>
      <div class="mt-14 px-4">
        <svg
          class="w-5 h-5"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="rgba(0,0,0,0.6)"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M5 5a2 2 0 012-2h10a2 2 0 012 2v16l-7-3.5L5 21V5z"
          />
        </svg>
        <h2 class="mt-4 text-base font-medium text-gray-400">
          Lake Atitlán, Guatemala
        </h2>
        <p class="mt-2 text-2xl text-gray-700">
          This photo was taken by
          <a
            class="cursor-pointer hover:underline"
            target="_blank"
            href="https://unsplash.com/photos/K2s_YE031CA"
            >Mark Hurpur</a
          >
        </p>
      </div>
    </article>
  </section>
  <p class="text-sm leading-relaxed text-gray-400 mt-10 text-center">
    Design Inspiration:
    <a target="_blank" href="https://dribbble.com/shots/8157859-Travel-App"
      >https://dribbble.com/shots/8157859-Travel-App</a
    >
  </p>
</section>
